In [8]:
import pandas as pd
import numpy as np
from datetime import timedelta

# Read in the data
helen = pd.read_parquet('processed_data/helen.parquet')
wind = pd.read_parquet('processed_data/tuulivoima.parquet')
weather = pd.read_parquet('processed_data/weather.parquet')
dayahead = pd.read_parquet('processed_data/dayahead.parquet')

In [6]:
# Merge the data

df = helen.join(wind).join(weather).join(dayahead)
df.tail()

,dh_MWh,Wind_MWh,year,month,day,time,time zone,clouds,pressure,rain,humidity,rain intensitety,temperature,wind,hour,price
date_time,,,,,,,,,,,,,,,,
2022-01-01 19:00:00,1632.531476,1020.0,2022.0,1.0,1.0,19:00,UTC,0.0,1019.8,0.0,94.0,0.0,-9.5,5.0,19.0,121.88
2022-01-01 20:00:00,1602.483984,878.0,2022.0,1.0,1.0,20:00,UTC,0.0,1020.0,0.0,93.0,0.0,-9.5,4.3,20.0,102.61
2022-01-01 21:00:00,1579.049687,703.0,2022.0,1.0,1.0,21:00,UTC,0.0,1020.5,0.0,93.0,0.0,-9.9,4.2,21.0,97.46
2022-01-01 22:00:00,1561.765870,512.0,2022.0,1.0,1.0,22:00,UTC,0.0,1019.9,0.0,92.0,0.0,-10.6,4.5,22.0,85.16
2022-01-01 23:00:00,1541.078344,463.0,2022.0,1.0,1.0,23:00,UTC,5.0,1019.6,0.0,92.0,0.0,-11.0,2.7,23.0,57.08