# Exploratory Data Analysis

## Day-Ahead Prices

In [61]:
import pandas as pd
import numpy as np 
import matplotlib as plt

# concat year files

dayahead = pd.DataFrame(pd.read_csv("day-ahead-prices/Day-ahead_Prices_201901010000-202001010000.csv", header=0))
dayahead = pd.concat([dayahead, pd.read_csv("day-ahead-prices/Day-ahead_Prices_202001010000-202101010000.csv", header=0)])
dayahead = pd.concat([dayahead, pd.read_csv("day-ahead-prices/Day-ahead_Prices_202101010000-202201010000.csv", header=0)])
dayahead = pd.concat([dayahead, pd.read_csv("day-ahead-prices/Day-ahead_Prices_202201010000-202301010000.csv", header=0)])
dayahead['datetime'] = dayahead['MTU (UTC)'].str[0:16]
dayahead['datetime'] = pd.to_datetime(dayahead['datetime'])

dayahead.head()

,MTU (UTC),Day-ahead Price [EUR/MWh],Currency,BZN|FI,datetime
0,01.01.2019 00:00 - 01.01.2019 01:00,10.07,EUR,NaN,2019-01-01 00:00:00
1,01.01.2019 01:00 - 01.01.2019 02:00,10.03,EUR,NaN,2019-01-01 01:00:00
2,01.01.2019 02:00 - 01.01.2019 03:00,4.56,EUR,NaN,2019-01-01 02:00:00
3,01.01.2019 03:00 - 01.01.2019 04:00,4.83,EUR,NaN,2019-01-01 03:00:00
4,01.01.2019 04:00 - 01.01.2019 05:00,8.09,EUR,NaN,2019-01-01 04:00:00

## Wind Power Production

## Weather

## District Heating